@model FrontEnd.Models.ColorViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar un Color</h1>

<h3>¿Estás seguro de que quieres eliminar este color?</h3>
<div>
    <h4>Color a Eliminar</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.ColorId)
        </dt>
        <dd class="col-md-12 form-group">
            @Html.DisplayFor(model => model.ColorId)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-md-12 form-group">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-md-12 form-group">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.ColorId)
        <input type="submit" value="Eliminar" class="genric-btn danger circle" /> |
        <a asp-action="Index" class="genric-btn primary small">Regresar</a>
    </form>
</div>
