@model IEnumerable<FrontEnd.Models.TarjetumViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tarjetas Registradas</h1>


<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeTarjeta)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeTarjeta)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TarjetaId }, new { @class = "genric-btn danger circle" })
                </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="genric-btn primary circle arrow">
        Agregar Tarjeta <span class="lnr lnr-arrow-right"></span>
    </a>
</p>