@model FrontEnd.Models.TransaccionViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Transaccion</h1>

<h3>¿Estás seguro de que quieres eliminar esta Transaccion?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransaccionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransaccionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarjetaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCorte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteresesMorosidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteresesMorosidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.TransaccionId)
        <input type="submit" value="Eliminar" class="genric-btn danger circle" /> |
        <a asp-action="Index" class="genric-btn primary small">Regresar</a>
    </form>
</div>
