@model FrontEnd.Models.TransaccionViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Transaccion</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransaccionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransaccionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarjetaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCorte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteresesMorosidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteresesMorosidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>
<div class="genric-btn success-border circle arrow">
    @Html.ActionLink("Editar", "Edit", new { id = Model.TransaccionId})
</div>
<a asp-action="Index" class="genric-btn primary small">Regresar</a>
