@model IEnumerable<FrontEnd.Models.TransaccionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Mira las transacciones</h1>


<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.FechaTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCorte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InteresesMorosidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          <td>
                @Html.DisplayFor(modelItem => item.FechaTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCorte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InteresesMorosidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.TransaccionId }, new { @class = "genric-btn success circle" })
              </td>
                 
              <td>
              @Html.ActionLink("Detalles", "Details", new { id = item.TransaccionId }, new { @class = "genric-btn info circle" })
              </td>
              <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TransaccionId }, new { @class = "genric-btn danger circle" })
            </td>
        </tr>
}
    </tbody>

</table>

<p>
    <a asp-action="Create" class="genric-btn primary circle arrow">
        Agregar Transaccion <span class="lnr lnr-arrow-right"></span>
    </a>
</p>