@model IEnumerable<Front_End.Models.ColorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ColorId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ColorId  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ColorId  })
            </td>
        </tr>
}
    </tbody>
</table>
