@model FrontEnd.Models.CarroVendidoViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar este Registro de Carro Vendido?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-md-12 form-groupm-10">
            @Html.DisplayNameFor(model => model.CarroVendidoId)
        </dt>
        <dd class = "col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.CarroVendidoId)
        </dd>
        <dt class = "col-md-12 form-groupm-10">
            @Html.DisplayNameFor(model => model.RuedaId)
        </dt>
        <dd class = "col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.RuedaId)
        </dd>
        <dt class = "col-md-12 form-groupm-10">
            @Html.DisplayNameFor(model => model.ColorId)
        </dt>
        <dd class = "col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.ColorId)
        </dd>
        <dt class = "col-md-12 form-groupm-10">
            @Html.DisplayNameFor(model => model.CarroModeloId)
        </dt>
        <dd class = "col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.CarroModeloId)
        </dd>
        <dt class = "col-md-12 form-groupm-10">
            @Html.DisplayNameFor(model => model.SeguroId)
        </dt>
        <dd class = "col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.SeguroId)
        </dd>
        <dt class = "col-md-12 form-groupm-10">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class = "col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.CarroVendidoId)
        <input type="submit" value="Eliminar" class="genric-btn danger circle" /> |
        <a asp-action="Index" class="genric-btn primary small">Regresar</a>
    </form>
</div>
