@model FrontEnd.Models.CarroVendidoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Información sobre el Auto Vendido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-md-6 form-group p_star">
            @Html.DisplayNameFor(model => model.CarroVendidoId)
        </dt>
        <dd class = "col-md-6 form-group p_star">
            @Html.DisplayFor(model => model.CarroVendidoId)
        </dd>
        <dt class = "col-md-6 form-group p_star">
            @Html.DisplayNameFor(model => model.RuedaId)
        </dt>
        <dd class = "col-md-6 form-group p_star">
            @Html.DisplayFor(model => model.RuedaId)
        </dd>
        <dt class = "col-md-6 form-group p_star">
            @Html.DisplayNameFor(model => model.ColorId)
        </dt>
        <dd class = "col-md-6 form-group p_star">
            @Html.DisplayFor(model => model.ColorId)
        </dd>
        <dt class = "col-md-6 form-group p_star">
            @Html.DisplayNameFor(model => model.CarroModeloId)
        </dt>
        <dd class = "col-md-6 form-group p_star">
            @Html.DisplayFor(model => model.CarroModeloId)
        </dd>
        <dt class = "col-md-6 form-group p_star">
            @Html.DisplayNameFor(model => model.SeguroId)
        </dt>
        <dd class = "col-md-6 form-group p_star">
            @Html.DisplayFor(model => model.SeguroId)
        </dd>
        <dt class = "col-md-6 form-group p_star">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class = "col-md-6 form-group p_star">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
    </dl>
</div>
<div class="genric-btn success-border circle arrow">
    @Html.ActionLink("Editar", "Edit", new { id = Model.CarroVendidoId})
</div>
<a asp-action="Index" class="genric-btn primary small">Regresar</a>