@model IEnumerable<FrontEnd.Models.CarroVendidoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de autos vendidos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarroVendidoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RuedaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarroModeloId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeguroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarroVendidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RuedaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarroModeloId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeguroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CarroVendidoId }, new { @class = "genric-btn success circle" })
                </td>

                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.CarroVendidoId }, new { @class = "genric-btn info circle" })
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.CarroVendidoId }, new { @class = "genric-btn danger circle" })
                </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="genric-btn primary circle arrow">
        Agregar CarroVendido <span class="lnr lnr-arrow-right"></span>
    </a>
</p>