@model FrontEnd.Models.RuedumViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Rueda</h1>

<h3>¿Estás seguro de que quieres eliminar esta Rueda?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-md-12 form-group-2">
            @Html.DisplayNameFor(model => model.RuedaId)
        </dt>
        <dd class="col-md-12 form-group-10">
            @Html.DisplayFor(model => model.RuedaId)
        </dd>
        <dt class="col-md-12 form-group-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-md-12 form-group-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-md-12 form-group-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-md-12 form-group-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class="col-md-12 form-group-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-md-12 form-group-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.RuedaId)
        <input type="submit" value="Eliminar" class="genric-btn danger circle" />

    </form>
    <a asp-action="Index" class="genric-btn primary small">Regresar</a>
</div>