@model FrontEnd.Models.SeguroViewModel

@{
    ViewData["Title"] = "Delete";
}


<h1>Eliminar Seguro</h1>

<h3>¿Estás seguro de que quieres eliminar este Seguro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-md-12 form-groupm-2">
            @Html.DisplayNameFor(model => model.SeguroId)
        </dt>
        <dd class="col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.SeguroId)
        </dd>
        <dt class="col-md-12 form-groupm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-md-12 form-groupm-2">
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>
        <dd class="col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.Plazo)
        </dd>
        <dt class="col-md-12 form-groupm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-md-12 form-groupm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.SeguroId)
        <input type="submit" value="Eliminar" class="genric-btn danger-border circle arrow" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
