@model FrontEnd.Models.CarroModeloViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar este auto?</h3>
<div>
    <h4>Eliminar Auto Seleccionado</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.CarroModeloId)
        </dt>
        <dd class="col-md-12 form-group">
            @Html.DisplayFor(model => model.CarroModeloId)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class="col-md-12 form-group">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-md-12 form-group">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-md-12 form-group">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-md-12 form-group">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-md-12 form-group">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-md-12 form-group">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-md-12 form-group">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class="col-md-12 form-group">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-md-12 form-group">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.CarroModeloId)
        <input type="submit" value="Eliminar" class= "genric-btn danger-border circle arrow"/> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
