@model IEnumerable<FrontEnd.Models.VentumViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Observa las Ventas</h1>

<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intereses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoPendiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoAbonado)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intereses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoPendiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoAbonado)
            </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.VentaId }, new { @class = "genric-btn success circle" })
                </td>

                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.VentaId }, new { @class = "genric-btn info circle" })
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.VentaId }, new { @class = "genric-btn danger circle" })
                </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="genric-btn primary circle arrow">
        Agregar Venta <span class="lnr lnr-arrow-right"></span>
    </a>
</p>